{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLUELAttice {% block title %} {% endblock %}</title>
</head>
<body>
    <nav class="navbar has-background-danger-dark" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item " href="/"><img src="https://i.imgur.com/NtUv99Z.png" alt="Fittness-X"></a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                <span class="has-text-white" aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
    </div>
</div>
</div>
</body>
</html>
{% block content %}
{% endblock %}